* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    height: 100%;
}
header{
    display: flex;
}
.logo{
    display: flex;
    flex-direction: row;
}
ul{
    display: flex;
}
main{
    margin-top: 100px;
}
.articulos{
    border-bottom: solid 1px;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card{
    margin: 1rem auto;
    
}
.productos2{
    border-bottom: solid 1px;
}
footer{
    background-color: black;
}
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
footer a:hover{
    color: rgb(0, 225, 255);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer {
    margin-top: auto;
}

.info{
    background: greenyellow;
    color: rgb(255, 255, 255);
}

#map {
	height: 500px;
	width: 100%;
}